* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #0c0218;
  --deep: #1c0050;
  --bright: #9800ff;
  --cool: #3d4499;
  --text: #c7d8ff;
  --links: #f2eebc;
  --warning: #ff2a44;
  font-size: 18px;
}

body {  
  background-color: var(--dark);
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: monospace;
  justify-content: space-between; 
  height: 100vh;

}

header,
footer {
  background-color: var(--deep);
  border-bottom: .2rem solid var(--cool);  
  padding: 1em 1em;
  flex-grow: 0;
}

main {
  padding: 1rem;
  margin: 0 2rem;
  max-width: 70rem;
  flex-grow: 1;
  flex-basis: 0;
}

a {
  color: var(--links);
  text-decoration: none;
}

p {
  line-height: 1.6;
  margin-block-end: 1em;
  margin-block-start: 1em;
}
h1 { font-size: 3.0rem; padding-bottom: 1rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.6rem; }

.button {
  background-color: var(--bright);
  border: 1px solid var(--cool);
  border-radius: 1rem;
  display: inline-block;
  font-size: 2rem;
  padding: 3rem;
}
.img-preview {
  max-width: 555px;
}